@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#scrollarea {
 scrollbar-width: none;
 -ms-overflow-style: none;
}
 
#scrollarea::-webkit-scrollbar {
 display: none;
}

#font1 {
    font-family: "Poppins", serif;
}

#font2 {
    font-family: "Inter", serif;
}

#font3 {
    font-family: "Roboto", serif;
}